* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

div {
    padding: 12px;
}

p {
    font-weight: bold;
}

img {
    width: 20%;
}

